* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
}

body {
    width: 100%;
    background-image: url('./assets/bgimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    justify-content: center;
    margin-top: 10%;
}

.box h1 {
    margin-right: 5%;
}

.container {
    width: 30rem;
    margin: 2rem auto;
}

.container .title {
    text-align: center;
    color: rgb(255, 255, 255);
}

.container .form {
    background-color: white;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.form input {
    flex: 1;
    padding: 0.7rem;
    border: none;
    background-color: transparent;
    outline: none;
}

.form .btn {
    padding: 0.7rem;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    border: none;
}

.lists .todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: white;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.todo span {
    cursor: pointer;
}